.header {
  border-bottom: 1px solid grey;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-transform: lowercase;
}

.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
